<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>One of your tasks triggered an alert</h1>
    <p>These are the values:</p>
    <p><%= @values %></p>
  </body>
</html>